/*
id>class>tag
辞書式順序
ABCDEFGHIJKLMNOPQRSTUVWXYZ
*/

.itembox {
    padding: 1em;
    border-style: solid;
    border-width: 0.1em;
    border-radius: 1em;
}

@media (prefers-color-scheme: light) {
    .form {
        color: #2A2ACA
    }

    .itembox {
        border-color: #2A2A2A;
    }

    .term {
        color: #A42A2A;
    }
}

@media (prefers-color-scheme: dark) {
    .form {
        color: #4DE4FF
    }

    .itembox {
        border-color: #F0F0F0;
    }

    .term {
        color: #F08080;
    }
}