body {
    padding: 2em;
}

p {
    text-indent: 1em;
}

@media (prefers-color-scheme: light) {
    body {
        background: #F0F0F0;
        color: #2A2A2A;
    }

    a {
        color: #2A2AF0;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background: #2A2A2A;
        color: #F0F0F0;
    }

    a {
        color: #A0A0F0;
    }
}